fastapi
uvicorn
pydantic

langchain
langchain-community
langchain-google-genai
langchain-pinecone

pinecone-client

llama-index
llama-index-core
llama-index-vector-stores-pinecone
llama-index-llms-gemini
llama-index-llms-google
llama-index-embeddings-gemini
llama-index-embeddings-google

PyPDF2
python-multipart
